<form>
    <p>card-add works!</p>
    <div>
        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select required>
                <mat-option value="option1">Option1</mat-option>
                <mat-option value="option">Option1</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Word</mat-label>
            <input matInput required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Meaning</mat-label>
            <input matInput required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Examples</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Notes</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </div>
    <div style="display: flex;">
        <button mat-button color="primary">Submit</button>
        <button mat-button>New</button>
    </div>
</form>